<?xml version="1.0"?>
<config>
    <modules>
        <HMP_FixConfigurableSwatchesFallback>
            <version>0.1.0</version>
        </HMP_FixConfigurableSwatchesFallback>
    </modules>
    <global>
        <helpers>
            <fixconfigurableswatchesfallback>
                <class>HMP_FixConfigurableSwatchesFallback_Helper</class>
            </fixconfigurableswatchesfallback>
            <configurableswatches>
                <rewrite>
                    <mediafallback>HMP_FixConfigurableSwatchesFallback_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
    </global>
</config>
