<?xml version="1.0"?>
<config>
    <modules>
        <HMP_FixConfigurableSwatchesFallback>
            <version>0.1.0</version>
        </HMP_FixConfigurableSwatchesFallback>
    </modules>
    <global>
        <helpers>
            <fixconfigurableswatchesfallback>
                <class>HMP_FixConfigurableSwatchesFallback_Helper</class>
            </fixconfigurableswatchesfallback>
            <configurableswatches>
                <rewrite>
                    <mediafallback>HMP_FixConfigurableSwatchesFallback_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
        <models>
            <fixconfigurableswatchesfallback>
                <class>HMP_FixConfigurableSwatchesFallback_Model</class>
            </fixconfigurableswatchesfallback>
            <configurableswatches>
                <rewrite>
                    <resource_catalog_product_attribute_super_collection>HMP_FixConfigurableSwatchesFallback_Model_Resource_Catalog_Product_Attribute_Super_Collection</resource_catalog_product_attribute_super_collection>
                </rewrite>
            </configurableswatches>
        </models>
    </global>
</config>
